body {
  font-family: arial, sans-serif;
}
h1 {
  display: block;
  font-size: 25px;
  height: 28px;
  line-height: 28.8px;
  text-align: left;
  width: 618px;
  margin: 0;
  color: #514f70;
  font-weight: bolder;
}
ul {
  margin: 0;
  padding: 0 0 10px;
}

li {
  color: #585757;
  display: block;
  font-size: 12px;
  height: 19px;
  line-height: 19.2px;
  text-align: left;
  width: 618px;
  font-weight: bolder;
}
.degree {
  font-size: 12px;
  color: #0e3460;
}
.days-of-the-week {
  font-size: 10px;
  font-weight: bolder;
}
.search-button,
.search-button:focus {
  color: black;
  background-color: #ec6e4c;
  border: #726a95;
}

.your-location-button {
  color: #f6f6f6;
  background-color: #0e3460;
  border: #726a95;
  width: 100%;
}

.weather-app-container {
  margin: 20px auto;
  max-width: 630px;
}

.weather-app {
  border: 1px solid #726a95;
  padding: 20px;
  border-radius: 10px;
  background-color: #9ba4b4;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-icon {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.unit {
  position: relative;
  top: -32px;
}

.search-form {
  margin-bottom: 10px;
}

.city-buttons {
  width: 100%;
}

.city-button {
  text-decoration: underline;
  margin-bottom: 20px;
  width: 100px;
  height: 38px;
  color: #0e3460;
}

.city-la {
  width: 115px;
}

.source-code-url {
  margin-top: 5px;
}

.humidity-percentage {
  font-size: 20px;
  color: #514f70;
  font-weight: bolder;
}

.wind-speed {
  font-size: 20px;
  padding-top: 10px;
  color: #514f70;
  font-weight: bolder;
}

.day {
  padding-top: 10px;
  text-align: center;
}

.day:hover {
  background-color: #e89f71;
}

.day img {
  width: 68px;
  height: 68px;
}

.top-left-weather-icon {
  width: 80px;
  height: 80px;
}

.forecastDays {
  margin-top: 20px;
}

.degree-converter {
  color: #ec6e4c;
}

.source-code-url {
  font-size: small;
}
